body{
    margin: 0;
}
.wrapper {
    width: 1020px;
    margin-left: auto;
    margin-top: 0px;
    margin-right: auto;
}

.portfolio {
    height: 795px;
    padding-left: 40px;
    padding-top: 69px;
    padding-right: 40px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio-word,
.about-word {
    margin-top: 2px;
    font-family: 'Lato';
    font-size: 30px;
    font-weight: 900;
    line-height: 16.6px;
    text-align: left;
    letter-spacing: -0.1px;
    color: #666d89;
}

.portfolio-duis {
    height: 57px;
    margin-top: 27px;
    margin-bottom: -32px;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0.01px;
    color: #767e9e;
}

.portfolio ul {
    display: flex;
    margin-bottom: 18.8px;
    padding: 0;
}

.portfolio ul li{
    margin-right: 10px;
    padding-left: 5.5px;
    padding-right: 5.5px;
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
    letter-spacing: 0.6px;
    list-style-type: none;
    color: #666d89;
    border: 1px solid #666d89;
    border-radius: 4.5px;
}

.portfolio ul li:hover {
    color: #dedede;
    border-color: #dedede;
}

.portfolio-images {
    max-height: 602px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.portfolio-images .img {
    margin-bottom: 20px;
}

.about {
    height: 661.5px;
    padding-left: 40px;
    padding-top: 67.5px;
    padding-right: 40px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;

}

.about-fusce {
    height: 57px;
    margin-top: 27.5px;
    margin-bottom: -32px;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0.149px;
    color: #767e9e;
}

.designers {
    display: flex;
    margin-top: 79px;
}

.desmond {
    margin-left: 5px;
}

.scolara {
    margin-left: 15px;
}

.designer-name {
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 900;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.1px;
    overflow: auto;
    text-overflow: clip;
    color: #666d89;
}

.designer-description {
    margin-top: 8px;
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #767e9e;
}

.social-networks-icons {
    display: flex;
    margin-top: 24px;
}

.desmond .social-networks-icons {
    padding-left: 4px;
}

.icons  {
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 9.5px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #767e9e;
}

.social-networks-icons a {
    width: 40px;
}

.icons:hover {
    cursor: pointer;
