body{
    margin-top: 0;
}
.wrapper {
    width: 1020px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 89px;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #2d303a;
    
    justify-content: space-between;
    border-bottom: 6px solid #323746;
}

.logo {
    text-transform: uppercase;
    letter-spacing: -1.3px;
    margin-top: 25px;
    font-size: 13px;
    line-height: 6px;
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
}

span {
    color: #f06c64;
}

nav ul {
    margin-top: 39.5px;
}
nav ul li {
    display: inline;
    text-transform: uppercase;
    line-height: 6px;
    font-size: 13px;
    color: #ffffff;
    font-family: 'Lato';
    font-weight: 400;
    text-align: left;
    list-style-type: none;
    letter-spacing: -0.66px;
}

nav ul li:hover {
    color: #f06c64;  
}

nav li:not(:first-child)::before {
    color: #494e62;
    content: "·";
    padding-right: 11px;
    padding-left: 11px;
}

.slider {
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    position: relative;
}


.left-arrow {
    position: absolute;
    top: 282px;
    left: 40px;
}

.left-arrow:hover {
    cursor: pointer;
}

.phones {
    position: relative;

}

.phones .phone-vertical {
    position: absolute;
    margin-top: 53px;
    margin-left: 111px;
    z-index: 2;
}

.shadow-one {
    position: absolute;
    margin-top: 53px;
    margin-left: 111px;
    z-index: 1;
}

.screen-v {
    position: absolute;
    margin-top: 114.5px;
    margin-left: 120.5px;
    z-index: 3;
    border: 1px solid #c7c8c7;
    border-radius: 8px;
}

.phones .phone-horizontal {
    position: absolute;
    transform: rotate(90deg);
    margin-top: 53px;
    margin-left: 548px;
    z-index: 2;
}

.shadow-two {
    position: absolute;
    margin-top: 174px;
    margin-left: 427px;
    z-index: 1;
}

.screen-h {
    position: absolute;
    margin-top: 185px;
    margin-left: 482.5px;
    z-index: 3;
    border: 1px solid #c7c8c7;
    border-radius: 8px;
}
    
.right-arrow {
    position: absolute;
    top: 282px;
    right: 40px;
}

.right-arrow:hover {
    cursor: pointer;
}





