html {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

.wrapper {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 1019px) {
    .wrapper {
        max-width: 1019px;
        width: 100%;
    }
  }

@media only screen and (max-width: 767px) {
    .wrapper {
        max-width: 767px;
        width: 100%;
    }
}

.header {
    position: fixed;
    box-sizing: border-box;
    z-index: 6;
    display: flex;
    margin: 0 auto;
    max-width: 1020px;
    width: 100%;
    height: 95px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 6px solid #323746;
    justify-content: space-between;
    align-items: baseline;
    background-color: #2d303a;
}

@media only screen and (max-width: 1019px) {
    .header {
        max-width: 1019px;
        width: 100%;
        height: 95px;
    }
  }

@media only screen and (max-width: 767px) {
    .header {
        max-width: 767px;
        width: 100%;
        height: 71px;
        align-items: center;
        justify-content: center;
    }
}

.header-placeholder{
    height: 95px;
    display: block;
}

@media only screen and (max-width: 767px) {
    .header-placeholder {
        height: 71px;
    }
  }

.header-button {
    position: relative;
    z-index: 1;
    display: none;
    width: 25px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url("./assets/burger-menu-icon.svg");
    transition: transform .2s ease-in-out;
}

@media only screen and (max-width: 767px) {
    .header-button {
        display: block;
        position: absolute;
        left: 20px;
    }

    .header-button:hover {
        transform: rotate(90deg);
    }
  }

.logo {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 400;
    line-height: 6.32%;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: -0.0625rem;
    color: #ffffff;
}

.logo-header {
    font-size: 1.625rem;
    margin: 0;
}

span {
    color: #f06c64;
}

nav {
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 767px) {
    nav ul {
        display: none;
    }
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 6.32%;
    letter-spacing: -0.66px;
    text-transform: uppercase;
    list-style-type: none;
    color: #ffffff;
}

nav ul li:hover {
    cursor: pointer;
    color: #f06c64; 
}

nav ul li a {
    margin-left: 6px;
    text-decoration: none;
    color: #ffffff;   
}

nav ul li a:hover {
    cursor: pointer;
    color: #f06c64;
}

nav li:not(:first-child)::before {
    content: "·";
    padding-right: 11px;
    padding-left: 11px;
    color: #494e62;
}

.selected-navbar-item {
    color: #f06c64; 
}

.slider {
    position: relative;
    max-height: 594px;
    height: 100%;
    width: 100%;
    scroll-margin-top: 95px; 
    border-bottom: 6px solid #ea676b;
}

@media only screen and (max-width: 1019px) {
    .slider {
        height: 443.25px;
        border-bottom: 4.52px solid #ea676b;
    }
  }

@media only screen and (max-width: 767px) {
   .slider {
       height: 218.38px;
       border-bottom: 2.21px solid #ea676b;
   }
} 

.left-arrow:hover {
    cursor: pointer;
}

.phones {
    position: relative;
    background-color: #f06c64;
}

.red {
    position: absolute;
    z-index: 1;
}

@media only screen and (max-width: 1019px) {
    .red {
        height: 447.25px;
        width: 100%;
    }
  }

@media only screen and (max-width: 767px) {
    .red {
        height: 218.38px;
        width: 100%;
    }
}  

.phones .phone-vertical {
    position: absolute;
    z-index: 3;
    max-width: 45%;
    height: auto;
    margin-left: 111.8px;
    margin-top: 52.7px;
}

@media only screen and (max-width: 1019px) {
    .phones .phone-vertical {
        width: 162.36px;
        height: 344.26px;
        margin-left: 83.81px;
        margin-top: 40.97px;
    }
  }

@media only screen and (max-width: 767px) {
    .phones .phone-vertical {
        width: 79.28px;
        height: 168.1px;
        margin-top: 20px;
        margin-left: 41px;
    }
}  

.shadow-one {
    position: absolute;
    z-index: 2;
    max-width: 47%;
    height: auto;
    margin-left: 111px;
    margin-top: 53px;
}

@media only screen and (max-width: 1019px) {
    .shadow-one {
      width: 180.71px;
      height: 363.67px;
      margin-left: 84px;
      margin-top: 41.04px;
    }
  }

@media only screen and (max-width: 767px) {
    .shadow-one {
        width: 88.24px;
        height: 177.57px;
        margin-left: 41px;
        margin-top: 20px;
    }
  }

.screen-v {
    position: absolute;
    z-index: 4;
    max-width: 33%;
    height: auto;
    margin-left: 120px;
    margin-top: 116px;
    border: 1px solid #c7c8c7;
    border-radius: 8px;
    transition: all 0.3s ease;

}

@media only screen and (max-width: 1019px) {
    .screen-v {
      width: 144.55px;
      height: 253.73px;
      margin-left: 92px;
      margin-top: 87px;
    }
}

@media only screen and (max-width: 767px) {
    .screen-v {
      width: 70.5px;
      height: 125px;
      margin-top: 41px;
      margin-left: 44.5px;
      border-radius: 3px;
    }
}

.phones .phone-horizontal {
    position: absolute;
    z-index: 3;
    max-width: 45%;
    height: auto;
    margin-left: 546.7px;
    margin-top: 51.9px;
    transform: rotate(90deg);
}

@media only screen and (max-width: 1019px) {
    .phones .phone-horizontal {
      height: 344.26px;
      width: 162.36px;
      margin-top: 42px;
      margin-left: 400px;
    }
}

@media only screen and (max-width: 767px) {
    .phones .phone-horizontal {
      height: 168.1px;
      width: 79.28px;
      margin-top: 20px;
      margin-left: 201px;
    }
}

.shadow-two {
    position: absolute;
    z-index: 2;
    max-width: 47%;
    height: auto;
    margin-left: 427px;
    margin-top: 174px;
}

@media only screen and (max-width: 1019px) {
    .shadow-two {
      width: 345.67px;
      height: 180.71px;
      margin-left: 309px;
      margin-top: 133.65px;
    }
}

@media only screen and (max-width: 767px) {
    .shadow-two {
      width: 177.57px;
      height: 88.24px;
      margin-left: 156px;
      margin-top: 66px;
    }
}

.screen-h {
    position: absolute;
    z-index: 4;
    max-width: 33%;
    height: auto;
    margin-left: 482.5px;
    margin-top: 185px;
    border: 1px solid #c7c8c7;
    border-radius: 8px;
}

@media only screen and (max-width: 1019px) {
    .screen-h {
        max-width: 253.74px;
        width: 253.73px;
        height: 145px;
        margin-left: 351.5px;
        margin-top: 141px;
    }
}

@media only screen and (max-width: 767px) {
    .screen-h {
        max-width: 127px;
        width: 127px;
        height: 70px;
        margin-left: 175px;
        margin-top: 68px;
        border-radius: 3px;
    }
}

.hide-display {
    opacity: 0;
}

.left-arrow {
    position: absolute;
    left: 4%;
    top: 50%; 
    right: auto;
    z-index: 2;
    transform: translateY(-50%); 
}

@media only screen and (max-width: 1019px) {
    .left-arrow {
      width: 16px;
      height: 28px;
    }
}

@media only screen and (max-width: 767px) {
    .left-arrow {
      width: 14px;
      height: 24px;
    }
}
 
.right-arrow {
    position: absolute;
    left: auto;
    top: 50%;
    right: 4%;
    z-index: 2;
    transform: translateY(-50%);
}

@media only screen and (max-width: 1019px) {
    .right-arrow {
      width: 16px;
      height: 28px;
    }
}

@media only screen and (max-width: 1019px) {
    .right-arrow {
      width: 14px;
      height: 24px;
    }
}

.right-arrow:hover {
    cursor: pointer;
}

.item-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

@media only screen and (max-width: 1019px) {
    .item-container {
        height: 447.25px;
    }
}

@media only screen and (max-width: 767px) {
    .item-container {
        height: 218.38px;
    }
}

.item {
    display: none;
    animation: 0.5s ease-in-out;
}

.blue {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 600px;
    background-image: url("./assets/slide2.jpg");
}

@media only screen and (max-width: 1019px) {
    .blue {
        height: 447.25px;
        width: 100%;
        background-size: cover;
    }
}

@media only screen and (max-width: 767px) {
    .blue {
        height: 218.38px;
    }
}

.active, 
.next {
    display: block;
}

.next {
    position: absolute;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.services {
    display: flex;
    min-height: 499px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 7.1%;
    padding-right: 40px;
    scroll-margin-top: 89px; 
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

@media only screen and (max-width: 1019px) {
    .services {
        padding-top: 44px;
    }
}

@media only screen and (max-width: 767px) {
    .services {
        padding-left: 32px;
        padding-top: 27.8px;
        padding-right: 32px;
        border-bottom: none;
    }
}

.services-header {
    margin-top: 0;
    margin-bottom: 28px;
    font-size: 1.875rem;
    font-weight: 900;
    line-height: 0.8125rem;
    text-align: left;
    letter-spacing: -0.25px;
    color: #666d89;
}

@media only screen and (max-width: 1019px) {
    .services-header {
        margin-bottom: 18px;
        height: 18px;
    }
}

@media only screen and (max-width: 767px) {
    .services-header {
        margin-bottom: 18px;
        height: 18px;
    }
}

.services-text {
    margin: 0;
    font-size: 1.125rem; 
    font-weight: 300;
    line-height: 1.875rem;
    text-align: justify;
    letter-spacing: -0.01px;
    color: #767e9e;
}

@media only screen and (max-width: 1019px) {
    .services-text {
        height: 99px;
    }
}

@media only screen and (max-width: 767px) {
    .services-text {
        height: 214px;
    }
}

.services-section {
    display: flex;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 1019px) {
    .services-section {
        margin-top: 28px;
    }
}

@media only screen and (max-width: 767px) {
    .services-section {
        display: block;
        margin-top: 25px;
    }
}

.services-item {
    display: flex;
    margin-bottom: 15px;
    max-width: 300px;
}

@media only screen and (max-width: 1019px) {
    .services-item {
        max-width: calc(50% - 53px);
    }
}

@media only screen and (max-width: 767px) {
    .services-item {
        width: 300px;
    }
}

.services-item:nth-child(1),
.services-item:nth-child(2),
.services-item:nth-child(3)  {
    margin-bottom: 30px;
}

@media only screen and (max-width: 1019px) {
    .services-item:nth-child(1),
    .services-item:nth-child(2),
    .services-item:nth-child(3),
    .services-item:nth-child(4)  {
        margin-bottom: 39px;
    }

    .services-item:nth-child(5),
    .services-item:nth-child(6)  {
        margin-bottom: 64px;
    }

    .services-item:nth-child(2),
    .services-item:nth-child(4),
    .services-item:nth-child(6) {
        margin-right: 34px;
        
      }
}

@media only screen and (max-width: 767px) {
    .services-item:nth-child(1),
    .services-item:nth-child(2),
    .services-item:nth-child(3),
    .services-item:nth-child(4),
    .services-item:nth-child(5),
    .services-item:nth-child(6) {
        height: 99px;
        margin-bottom: 15px;
    }
}

.services-icon {
    margin-right: 20px;
}

.services-title {
    color: #666d89;
    font-size: 1.125rem;
    font-weight: 900;
    letter-spacing: -0.2px;
    line-height: 18px;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}

.services-description {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    word-spacing: 0.15px;
    text-overflow: ellipsis;
    resize: none;
    color: #767e9e;
}

@media only screen and (max-width: 767px) {
    .services-description {
        width: 100%;
    }
}

.services-info {
    padding-left: 1.5px;
}

@media only screen and (max-width: 767px) {
    .services-info {
        width: 80%;
    }
}

.portfolio {
    min-height: 794px;
    box-sizing: border-box;
    width: 100%;
    padding-left: 4%;
    padding-top:  7%;
    padding-right: 4%;
    padding-bottom: 6%;
    scroll-margin-top: 89px; 
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

@media only screen and (max-width: 1019px) {
    .portfolio {
        border-bottom: 7.7px solid #323746;
    }
}

@media only screen and (max-width: 767px) {
    .portfolio {
        height: auto;
        padding: 42px 30px 28px;
        border-bottom: none;
    }
}

.portfolio-word,
.about-word {
    font-size: 1.875rem;
    font-weight: 900;
    line-height: 16.6px;
    text-align: left;
    letter-spacing: -0.1px;
    color: #666d89;
}

.portfolio-word {
    margin-top: 1px;
}

@media only screen and (max-width: 767px) {
    .portfolio-word {
        margin-bottom: 0;
    }
}

.about-word {
    margin-top: 4px;
}

@media only screen and (max-width: 767px) {
    .about-word {
        height: 19px;
        margin: 0;
    }
}

.portfolio-text {
    height: 57px;
    margin-top: 27px;
    margin-bottom: -32px;
    font-size: 1.13rem;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.01px;
    color: #767e9e;
}

@media only screen and (max-width: 767px) {
    .portfolio-text {
        height: 96px;
        margin-top: 14px;
        margin-bottom: 0;
    }
}

.portfolio ul {
    display: flex;
    margin-bottom: 11px;
    padding: 0;
}

@media only screen and (max-width: 767px) {
    .portfolio ul {
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.portfolio ul li{
    padding-left: 5.6px;
    padding-right: 5.5px;
    list-style-type: none;
    color: #666d89;
}
 .portfolio ul li:first-child {
    padding-left: 0;
 }

.portfolio ul li:hover {
    color: #dedede;
    border-color: #dedede;
}

.portfolio ul li button {
    outline: none;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
    letter-spacing: 0.6px;
    list-style-type: none;
    color: #666d89;
    background-color: #2d303a;
    border: 1px solid #666d89;
    border-radius: 4.5px;
}

.portfolio ul li button:hover {
    outline: none;
    color: #dedede;
    border-color: #dedede;
}

.portfolio-images {
    min-height: 602px;
    display: flex;
    padding: 5px 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.portfolio-img:nth-child(n + 13) {
    display: none;
}

@media only screen and (max-width: 1019px) {
    .portfolio-images {
        min-height: auto;
    }
}

@media only screen and (max-width: 767px) {
    .portfolio-img {
        height: 128px;
        width: 151px;
    }

    .portfolio-img:nth-child(n + 9) {
        display: none;
    }
}

.portfolio-images .portfolio-img {
    margin-bottom: 20px;
}

@media only screen and (max-width: 1019px) {
    .portfolio-images .portfolio-img {
        width: calc(100% / 3 - 20px * 2 / 3);
    }
}

@media only screen and (max-width: 767px) {
    .portfolio-images .portfolio-img {
        width: calc(51.5% - 13px);
        margin-bottom: 14px;
    }
}

.portfolio .selected-portfolio-button {
    color: #dedede;
    border-color: #dedede; 
}

.portfolio-images .image-with-outline {
    outline: #f06c64 solid 5px;
}

.about {
    min-height: 686px;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 4%;
    padding-top: 6.5%;
    padding-right: 4%;
    padding-bottom: 6.5%;
    scroll-margin-top: 90px; 
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

@media only screen and (max-width: 1019px) {
    .about {
        min-height: auto;
        padding-top: 60px;
        padding-bottom: 75px;
        border-bottom: none;
    }
}

@media only screen and (max-width: 767px) {
    .about {
        min-height: auto;
        padding-left: 30px;
        padding-top: 33px;
        padding-right: 31px;
        padding-bottom: 45px;
        border-bottom: none;
    }
}

.about-text {
    height: 57px;
    margin-top: 28px;
    margin-bottom: -32px;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.149px;
    color: #767e9e;
}

@media only screen and (max-width: 767px) {
    .about-text {
        height: auto;
        margin-top: 14px;
        margin-bottom: 25px;
    }
}

.designers {
    display: flex;
    margin-top: 79px;
}

@media only screen and (max-width: 1019px) {
    .designers {
        margin-top: 93px;
    }
}

@media only screen and (max-width: 767px) {
    .designers {
        display: block;
        margin-top: 0;
    }
}

.desmond {
    margin-left: 7.7px;
}

.scolara {
    margin-left: 15px;
}

@media only screen and (max-width: 1019px) {
    .adam, 
    .desmond,
    .scolara {
        width: calc(100% / 3 - 15px * 2 / 3);
    }

    .adam, 
    .desmond {
        padding-right: 15px;
    }

    .adam-photo,
    .desmond-photo,
    .scolara-photo {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    .adam,
    .desmond,
    .scolara {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .adam,
    .desmond {
        margin-bottom: 34px;
    }

    .adam-photo,
    .desmond-photo,
    .scolara-photo {
        width: 100%;
    }
}

.designer-name {
    max-width: 309px;
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 1.125rem;
    font-weight: 900;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    resize: none;
    color: #666d89;
}

@media only screen and (max-width: 767px) {
    .designer-name {
        margin-top: 18px;
    }
}

.designer-description {
    margin-top: 8px;
    padding-right: 10px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    color: #767e9e;
}

@media only screen and (max-width: 767px) {
    .designer-description {
        margin-top: 5px;
        margin-bottom: 9px;
    }
}

.designers-social-networks-icons {
    display: flex;
    margin-top: 24px;
}

@media only screen and (max-width: 767px) {
    .designers-social-networks-icons {
        margin-top: 0;
    }
}

.icons {
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid #767e9e;
}

.social-networks-icons a {
    width: 40px;
}

.icons:hover {
    cursor: pointer;
}

.get-a-quote {
    min-height: 644.1px;
    height: auto;
    max-width: 1020px;
    padding-left: 40px;
    padding-top: 4px;
    padding-right: 40px;
    scroll-margin-top: 92px; 
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

@media only screen and (max-width: 1019px) {
    .get-a-quote {
        min-height: auto;
    }
}

@media only screen and (max-width: 767px) {
    .get-a-quote {
        padding-top: 44px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 42px;
        border-bottom: none;
    }
}

.get-a-quote-header {
    margin-top: 0;
    padding-top: 65.5px;
    font-size: 1.875rem;
    font-weight: 900;
    line-height: 18px;
    text-align: left;
    letter-spacing: -0.1px;
    color: #f0d8d9;
}

@media only screen and (max-width: 1019px) {
    .get-a-quote-header {
        padding-top: 53px;
    }
}

@media only screen and (max-width: 767px) {
    .get-a-quote-header {
        margin: 0;
        padding: 0;
        height: 20px;
    }
}

.get-a-quote-text {
    margin-top: 27px;
    height: auto;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0.15px;
    color: #f0d8d9;
}

@media only screen and (max-width: 1019px) {
    .get-a-quote-text{
        margin-top: 14px;
    }
}

.quote {
    display: flex;
    max-width: 1020px;
    margin-top: 45px;
    justify-content: space-between;
}

@media only screen and (max-width: 1019px) {
    .quote {
        margin-top: 19px;
    }
}

@media only screen and (max-width: 767px) {
    .quote {
        display: block;
    }
}


@media only screen and (max-width: 374px) {
    .quote-form {
        width: 100%;
    }
}

.quote .form-container {
    width: 64%;
}

@media only screen and (max-width: 1019px) {
    .quote .form-container {
        width: 415px;
    }
}

@media only screen and (max-width: 767px) {
    .quote .form-container{
        width: 315px;
    }
}

.input-name,
.input-email,
.input-subject,
.input-textarea {
    height: 35.5px;
    width: 100%;
    margin-left: 0;
    margin-bottom: 16px;
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    font-size: 400;
    line-height: 12px;
    text-align: left;
    background-color: #d6564f;
    border: none;
    border-radius: 4px;
}

@media only screen and (max-width: 1019px) {
    .input-name,
    .input-email,
    .input-subject,
    .input-textarea {
        margin-bottom: 12px;
    }
}

@media only screen and (max-width: 767px) {
    .input-name,
    .input-email,
    .input-subject,
    .input-textarea {
        width: calc(100% - 15px);
    }

    .form-container .input-textarea {
        width: calc(100% - 15px);
    }
}

::placeholder {
    color: #f48c8f;
}

.input-textarea {
    height: 189px;
    width: 100%;
    padding-top: 12px;
    padding-right: 0;
    resize: none;
    border-radius: 4.5px;
}

.input-subject {
    height: 36.5px;
}

.submit-button {
    height: 38px;
    width: 100px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fbc65f;
    border: none;
    border-radius: 4px;
    color: #2d302d;
}

@media only screen and (max-width: 1019px) {
    .submit-button {
        margin-bottom: 38px;
    }
}

@media only screen and (max-width: 767px) {
    .submit-button {
        width: 100%;
    }
}

.quote .contact-information {
    width: 32%;
}

@media only screen and (max-width: 1019px) {
    .contact-information {
        width: 221px;
    }
}

@media only screen and (max-width: 767px) {
    .quote .contact-information {
        width: 100%;
        margin-top: 32px;
    }
}

.contact-information-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.125rem;
    font-weight: 900;
    line-height: 18px;
    text-align: left;
    letter-spacing: -0.1px;
    color: #f0d8d9;
}

.contact-information-text {
    margin-top: 10px;
    font-size: 0.6875rem;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    letter-spacing: 0.41px;
    color: #f0d8d9;
}

@media only screen and (max-width: 767px) {
    .contact-information-text {
        margin-top: 5px;
        padding-bottom: 5px;
    }
}

.contact-information-links {
    display: block;
    position: relative;
    padding-top: 14px;
    padding-left: 23px;
    font-size: 0.6875rem;
    line-height: 12px;
    color: #f0d8d9;
}

@media only screen and (max-width: 767px) {
    .contact-information-links {
        margin-top: 5px;
        padding-top: 0;
    }
}

.contact-information-links a {
    text-decoration: none;
    color: #f0d8d9;
}

.contact-information-links span {
    color: #f0d8d9;    
}

.address, 
.tel,
.email {
    display: block;
    font-size: 0.6875rem;
    letter-spacing: 0.4px;
}

.tel {
    margin-top: 9px;
}

.email {
    margin-top: 9px;
}

.address::before {
    height: 12px;
    width: 13px;
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background-image: url("./assets/location.png");
    background-size: 7px;
    background-repeat: no-repeat;
    background-position: 3px;
}

.tel::before {
    height: 11px;
    width: 15px;
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background-image: url("./assets/phone.png");
    background-size: 11px;
    background-repeat: no-repeat;
    background-position: 1px;
}

.email::before {
    height: 12px;
    width: 15px;
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background-image: url("./assets/mail.png");
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: 1px; 
}

.modal-window {
    display: none; 
    position: fixed; 
    z-index: 5; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-window-text { 
    width: 240px;
    height: 180px;   
    position: fixed;
    left: 44%;
    bottom: 42%;
    padding: 10px;
    overflow: auto;
    text-align: center;
    background-color: #fefefe;
    border-radius: 4px;
}

.modal-window-text p {
    margin-top: 5px;
    font-family: 'Lato';
    color: #666d89;
}

.ok-button {
    margin-top: 5px;
    font-family: 'Lato';
    font-weight: 900;
    color: #f06c64;
}

.ok-button:hover {
    cursor: pointer;
    color: #c7c8c7;
}

.show-modal-window {
    display: block;
}

footer {
    min-height: 76px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-left: 40px;
    padding-right: 32px;
    justify-content: space-between;
    background-color: #2d303a;
}

@media only screen and (max-width: 767px) {
    footer {
        height: 76px;
        justify-content: center;
    }
}

footer p {
    margin: 0;
    padding-top: 31px;
    font-size: 0.6875rem;
    font-weight: 400;
    letter-spacing: 0.38px;
    word-spacing: 0.5px;
    color: #666d89;
}

@media only screen and (max-width: 767px) {
    footer p {
        display: none;
    }
}

footer .social-networks-icons {
    display: flex;
    margin-top: 21px;   
}

.social-networks-icons a {
    width: 30px;
}

footer span {
    color: #666d89;
}




/*----------adaptive-------*/

@media only screen and (max-width: 375px){
.services-item {
    max-width: 100%;
    margin: 0;
}
}